--tags=pretrained
--model_name=clip
--task=species
--mode=test
--dataset_name=serengeti
--seed=42
--num_epochs=20
--batch_size=2
--patience=10
--learning_rate=0.001
--train_filename=/data/luiz/dataset/partitions/species-classifier/serengeti/train.csv
--val_filename=/data/luiz/dataset/partitions/species-classifier/serengeti/val.csv
--test_filename=/data/luiz/dataset/partitions/species-classifier/serengeti/test.csv
--checkpoint_path=/data/luiz/dataset/models/species-classifier/
--results_path=/data/luiz/dataset/results/species-classifier/
